:root {
    --black-color: #212121;
    --blue-color: #2196F3;
    --grey-color: #757575;
    --white-color: #FFFFFF;
    --dark-gray-color: #2F303A;
    --milk-color: #F5F4FA;
    --color3: #AFB1B8;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding-left: 0;
}

button {
    cursor: pointer;
}

body {
    font-family: Roboto, sans-serif;
    background-color: var(--white-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    }

.link, .header-logo, .header-link {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left:  auto;
    margin-right:  auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid red;
}

.border {
    border-bottom: 1px solid #ECECEC ;
}

.page-header {
    align-items: center;
}

.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: var(--black-color);
}

.blue-logo {
    color: var(--blue-color); 
}

.header-list .current {
    color: var(--blue-color);
}

.header-list {
    margin-left: 93px;
}

.list .header-item + .header-item {
    margin-left: 50px;
}

.header-list.header-item + .header-item {
    margin-left: 50px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.centered {
    display: flex;
    align-items: center; 
}

.header-link {
    font-weight: 500;
    line-height: 1.14
    letter-spacing: 0.02em;
    color: var(--black-color) ; 
    
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
 }

.header-link:hover,
.header-link:focus {
    color: var(--blue-color);
}


.contacts {
    margin-left: auto;
}

.header-mail {
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--grey-color) ;
padding-top: 32px;
padding-bottom: 32px;

display: flex;
align-items: center;
}


.header-mail:hover,
.header-mail:focus {
    color: var(--blue-color);
}

.header-tel {
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--grey-color); 
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    align-items: center;
}

.header-tel:hover,
.header-tel:focus {
    color: var(--blue-color);
}


.contacts-icon {
  fill: currentColor ; 
  margin-right: 10px; 
}

.list {
    display: flex;
    align-items: center;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/*----- Герой-----*/


.hero-title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 696px;
    font-weight: 900;
    line-height: 1.36;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);   
}

.hero {
text-align: center;
padding: 200px 0;
background-image: 
linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), 
url(../img/hero-bg\ \(1\).jpg);
max-width: 1600px;
margin-left: auto;
margin-right: auto;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: #C4C4C4;
}

.hero-btn {
   color: var(--white-color);
   font-family: 'Roboto';
   font-style: normal;
   font-weight: 700;
   font-size: 16px;
   line-height: 1.87; 
   letter-spacing: 0.06em;
   border: none;
   border-radius: 4px;
   background-color: var(--blue-color);
   width: 200px;
   height: 50px;
   
}

.hero-btn:hover {
    background-color:#188CE8; ;
}

/*-----Преимущества фирмы-----*/

.paddingtop {
    padding-top: 94px;
}

.paddingbot {
    padding-bottom: 94px;
}

.desk-list {
    display: flex;
   }

   .desk-item + .desk-item {
    margin-left: 30px;
}

.desk-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
    text-transform: uppercase; 
    color: var(--black-color);
}

.desk-item {
    width: 270px;
}

.desk-text {
    line-height: 1.71;
    color: var(--grey-color);
}

.icon {
  display: flex;  
  height: 120px;
  background-color: var(--milk-color);
  border-radius: 4px;
  margin-bottom: 30px;
  align-items: center;
  justify-content: center;
  
}


/*-----Чем мы занимаемся-----*/

.features {
    background-color: var(--white-color);
}

.feat-title {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 50px;
color: var(--black-color);
}

.feat-list {
    display: flex;
}

.feat-item + .feat-item {
    margin-left: 30px;
}

.img-photo {
    display: block;
    max-width: 100%;
    height: auto;
}

/*-----Наша команда-----*/

.team {
background-color: var(--milk-color);
}

.team-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    color: var(--black-color);  
}

.team-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color); 

    margin-bottom: 10px;
}

.team-text {
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--grey-color);
}

.team-list {
    display: flex;
}

.team-item + .team-item {
    margin-left: 30px;  
}

.team-item {
    background-color: var(--white-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.image-team {
    margin-bottom: 30px;
}

.team-soc {
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
}

.team-soc-item + .team-soc-item {
    margin-left: 10px;
}

.team-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-soc-icon{
    fill: var(--color3);
}

.team-soc-link:hover,
.team-soc-link:focus {
    background-color: var(--blue-color);
}

.team-soc-link:hover .team-soc-icon {
    fill: var(--white-color);
}

.team-soc-link:focus .team-soc-icon {

}

/*----- Постоянные клиенты-----*/

.clients-title {
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: center;
margin-bottom: 50px;

color: var(--black-color);
}

.clients-list {
display: flex;
}

.clients-link {
box-sizing: border-box;
width: 170px;
height: 92px;
border: 1px solid var(--color3);
border-radius: 4px;

display: flex;
justify-content: center;
align-items: center;
}

.clients-icon {
fill: var(--color3);
}

.clients-item + .clients-item {
    margin-left: 30px;
}

.clients-link:hover ,
.clients-link:focus {
border-color: var(--blue-color);
}

.clients-link:hover .clients-icon {
    fill: var(--blue-color);
}

.clients-link:focus .clients-icon {
    fill: var(--blue-color);
}

/*-----footer-----*/

.coordinates {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}

.page-footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-footer {
    background-color: var(--dark-gray-color) ;
}
.footer-logo {
   margin-bottom: 20px;
   display: block;

   }

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--white-color) ;
    text-decoration: none;
}

.footer-list {
    display: block;
   flex-direction: column; 
   margin-right: auto;
}

.footer-item {
    margin-top: 9px;
}

.address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}

.mail, .tel {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    
    color: var(--white-color); 
}

.footer-soc-link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-soc-item + .footer-soc-item {
    margin-left: 10px;
}

.footer-soc-icon {
    fill: var(--white-color);
}
.footer-soc-link:hover,
.footer-soc-link:focus {
    background-color: var(--blue-color);
}

.coordinates-soc {
   margin-left: 70px;
}


/*-----Портфолио все разделы-----*/

.list-content {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.content-btn + .content-btn {
    margin-left: 8px;
}

.content-button {  
    display: block;
    border-radius: 4px;
    border-color: transparent;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-color);
    padding: 6px 22px;
    left: 976px;
    top: 174px;
    background: var(--milk-color) ;
}

.content-button:hover,
.content-button:focus {
    color: var(--white-color);
    background: var(--blue-color);
    border-radius: 4px;
}

.content-btn:hover,
.content-btn:focus {
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.blocks-subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;
    color: var(--black-color);
}

.img-blocks {
    display: block;
}

.blocks-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--grey-color) ;
}

.block-description {
    padding: 20px 24px;
}

.blocks-subtitle {
    margin-bottom: 4px;
}

.border-blocks {
    border-left: 1px solid #EEEEEE; 
    border-bottom:  1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    }


.list-blocks {
    display: flex;
    flex-wrap: wrap;
}

.item-blocks {
    margin-right: 30px;
    margin-bottom: 30px;
}

.item-blocks:nth-child(3n) {
    margin-right: 0px;
}

.item-blocks:nth-last-child(-n+3) {
    margin-bottom: 0px;
}

 .blocks-link {
    display: block;
    text-decoration: none;
}

.blocks-link:hover,
.blocks-link:focus {
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

